export ORG=teatcher0@bpshparis.com
export SPACE=dev
export BM_USER=teatcher0@bpshparis.com
export US_REGION=https://api.ng.bluemix.net
export GB_REGION=https://api.eu-gb.bluemix.net
export DE_REGION=https://api.eu-de.bluemix.net
alias iclus='/usr/local/bin/ibmcloud login -a https://api.ng.bluemix.net -u teatcher0@bpshparis.com --skip-ssl-validation -s dev -o teatcher0@bpshparis.com' 
alias iclgb='/usr/local/bin/ibmcloud login -a https://api.eu-gb.bluemix.net -u teatcher0@bpshparis.com --skip-ssl-validation -s dev -o teatcher0@bpshparis.com' 
alias iclde='/usr/local/bin/ibmcloud login -a https://api.eu-de.bluemix.net -u teatcher0@bpshparis.com --skip-ssl-validation -s dev -o teatcher0@bpshparis.com' 
alias ic='/usr/local/bin/ibmcloud'
export S2T_SVC=s2t0
export LT_SVC=lt0
export T2S_SVC=t2s0
export SVC_KEY=user0
alias l='ls -Alhtr' 
